[paths]
source =
   decaylanguage
   */site-packages/decaylanguage

[run]
branch = true
source =
    decaylanguage
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
