[paths]
source =
   decaylanguage
   */site-packages/decaylanguage

[run]
branch = true
source =
    decaylanguage
parallel = true
omit =
    # omit certain files
    decaylanguage/__main__.py

[report]
show_missing = true
precision = 2
omit = *migrations*
