ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade
    args: [--py36-plus]

- repo: https://github.com/psf/black
  rev: 21.9b0
  hooks:
  - id: black-jupyter

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=1000']
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-case-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: requirements-txt-fixer
  - id: debug-statements
  - id: end-of-file-fixer

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.18.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    stages: [manual]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    files: src
    args: [--scripts-are-modules]
    additional_dependencies: [attrs, types-six, particle, importlib_resources, numpy, types-deprecated]

- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["-L", "vertexes,unkown,te"]
    exclude: '^(.*\.DEC|notebooks/ExampleDecFileParsingWithLark\.ipynb)$'

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml
