graft docs
graft decaylangauge
graft ci
graft tests
graft notebooks
graft scripts
graft models

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include Pipfile

include tox.ini .travis.yml .appveyor.yml

recursive-include decaylanguage *.csv
recursive-include decaylanguage *.txt

global-exclude *.py[cod] __pycache__ *.so *.dylib
