graft docs
graft ci
graft tests
graft notebooks
graft scripts
graft models

prune docs/html
prune notebooks/.ipynb_checkpoints

include AUTHORS.rst CHANGELOG.md CONTRIBUTING.rst
include LICENSE README.md
include pyproject.toml setup.py setup.cfg

exclude .pre-commit-config.yaml environment.yml codecov.yml

recursive-include decaylanguage *.py
recursive-include decaylanguage *.csv
recursive-include decaylanguage *.txt
recursive-include decaylanguage *.lark

recursive-include images *.pdf
recursive-include images *.png
recursive-include images *.svg

global-exclude *.py[cod] __pycache__ *.so *.dylib
