graft docs
graft ci
graft tests
graft notebooks
graft scripts
graft models

prune docs/html
prune notebooks/.ipynb_checkpoints

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.md
include CONTRIBUTING.rst
include LICENSE
include README.md
include Pipfile

include tox.ini .travis.yml .appveyor.yml

recursive-include decaylanguage *.py
recursive-include decaylanguage *.csv
recursive-include decaylanguage *.txt
recursive-include decaylanguage *.lark

recursive-include images *.pdf
recursive-include images *.png
recursive-include images *.svg

global-exclude *.py[cod] __pycache__ *.so *.dylib
