[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

attrs = "*"
pandas = "*"
graphviz = "*"


[dev-packages]

pytest = "*"
"e1839a8" = {path = ".", editable = true}
jupyter = {extras = ["all"]}
plumbum = "*"
sphinx = "*"
sphinx-rtd-theme = "*"


[requires]

python_version = "3.6"
