name: CI

on:
  pull_request:
  push:
    branches:
    - master

jobs:
 checks:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['2.7', '3.5', '3.7', '3.9', '3.10-dev']
        include:
          - {os: macos-latest, python-version: '2.7'}
          - {os: macos-latest, python-version: '3.9'}
          - {os: windows-latest, python-version: '3.7'}
          - {os: windows-latest, python-version: '3.9'}
    name: Check ${{ matrix.os }} Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: python -m pip install -e .[test]

    - name: Pytest
      if: runner.os == 'Linux'
      run: python -m pip install pytest-github-actions-annotate-failures

    - name: Test package
      run: python -m pytest ./tests --doctest-modules --cov=src/decaylanguage --cov-report=xml

    - name: Test coverage with Codecov
      if: "runner.os != 'Windows' && matrix.python-version != 3.5 && matrix.python-version != 3.7"
      uses: codecov/codecov-action@v2
