name: CI

on:
  pull_request:
  push:
    branches:
    - master

jobs:
 checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 2.7
        - 3.5
        - 3.6
        - 3.8
        - 3.9
    name: Check Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v1

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: python -m pip install -e .[test]

    - name: Test package
      run: python -m pytest
